* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: 'Segoe UI', sans-serif;
    background-color: #F4F9FF;
}

/* Header */
header 
{
    background-color: #008C45;
    color: #F4F9FF;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0%;
    padding: 1.5%;
    justify-content: space-between;
    position: relative;
}

.italy-login, .italy-feedback
{
  color: #CD212A;
  background-color: #F4F9FF;
  padding: 10px 20px;
  border-radius: 50px;
  margin: auto;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;
}

.logo-image
{
  width: 180px;
  height: 45px;
}

/*video section*/

video 
{
  width: 30%;
  height: auto;
  border-radius: 15px;
  transition: all 0.3s ease;
  position: relative;
  margin: 18px auto;
}

.italy-paragraph
{
  color: #02132b;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;

}

.italy-text
{
  flex: 1;
  margin-right: 20px;
  text-align: left;

}

.italy-video {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.welcome-to-italy
{
  color: #CD212A;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
}

/* Cards Section */

.cards-section 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 30px;
}

/* Card Container */
.card-container 
{
    perspective: 1000px;
}

/* Card */
.card 
{
    width: 300px;
    height: 200px;
    position: relative;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.card:hover 
{
    transform: rotateY(180deg);
}

/* Front and Back */
.card-front, .card-back 
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} 

/* Front Image */
.card-front img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Back Side */
.card-back 
{
    background-color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.tour-book-link
{
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  text-align: center;
  background-color: rgb(19, 167, 19);
  margin: 20px;
} 

/* Footer */
footer 
{
    background-color: #CD212A;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-link
{
  color: white;
  text-decoration: none;
  cursor: pointer;
}